# Project Configuration
server:
  port: ${SERVER_PORT:8080}

springdoc:
  api-docs:
    path: /api-docs

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5434/ativos-service}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:123}
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 5

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      jadira:
        usertype:
          autoRegisterUserTypes: true

auth:
  url: ${AUTH_URL:http://localhost:8081/auth}